.formulario{
    width: 390px;
    height: 470x;
    border-radius: 8px;
    /*background:rgb(247, 240, 240);*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #FFDDBA 0%, rgba(231,183,171,1) 49%, rgba(231,183,171,1) 100%);
    border:1px solid rgb(141, 149, 69);
    padding: 10px;
    margin-top: 60px;
    margin-left: 14px;
    font-family: 'Roboto-Regular';
}
label{
    color: black;
    font-size: 23px;
   /* font-family:'Roboto-Regular';*/
    font-weight: 800;
    padding: 4px;
    margin-top: 3px;
    text-shadow: 2px 3px 2px rgb(221, 218, 218);
}
textarea{
    width: 390px;
    height: 190px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 12px;
}
.btton{
    color: #fff;
    width: 90px;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    background: brown;
    text-align: center;
    margin-left: 10px;
    border-radius: 3px;
    margin-top: 70px;
}
.btton:hover{
    font-weight: 300;
    color: rgb(26, 24, 24);
    background: #ade268;
    cursor: pointer;
    transition: .6s;
    border:1px solid  #fff;
}
input{
    width: 230px;
    height: 20px;
    float: right;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #fff;    
}
input:hover{
    background: #f3f3f5;
    transition: .6s;
    border: 1px solid #014cf0;
    box-shadow: -2px 3px 2px #555;
}